name: Notebook CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-notebook:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install nbconvert ipykernel

      - name: Run notebook
        run: |
          jupyter nbconvert --execute --to notebook --ExecutePreprocessor.skip_tags='["skip-ci-execution"]' secure-code-completion.ipynb
          
